[Unit]
Description=mcogserver startup service
Wants=network.target
After=network-online.target

[Service]
WorkingDirectory=/store/mcogs
ExecStart=/usr/local/bin/iotserver -p57576
Restart=on-failure
TimeoutStopSec=60


[Install]
WantedBy=multi-user.target